@font-face {
   font-family: "Khand";
  src: url("../../assets/fonts/khand.ttf");
}

.footer {
   height: 40px;
   line-height: 38px;
   background-color: #222222;
   color: #fff;
   display: flex;
   justify-content: flex-end;
   padding-right: 25px;
   font-family: "Khand";
   font-size: 25px;
}
