@font-face {
	font-family: "Caviar Dreams";
	src: url("./assets/fonts/Caviar-Dreams/CaviarDreams.ttf");
}

@font-face {
	font-family: "Caviar Dreams Bold";
	src: url("./assets/fonts/Caviar-Dreams/CaviarDreams_Bold.ttf");
}

@font-face {
	font-family: "Caviar Dreams Italic";
	src: url("./assets/fonts/Caviar-Dreams/CaviarDreams_Italic.ttf");
}

@keyframes rotate-text-z {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    background-color: #282c34;
    font-family: "Caviar Dreams";
    letter-spacing: 1px;
    min-width: 700px;
}

.wrapper {
    padding: 0 20px;
}

h1 {
    text-align: center;
    color: #fff;
    font-family: "Caviar Dreams Bold";
    margin-top: 20px;
}

th {
    font-family: "Caviar Dreams Italic";
    font-size: 20px;
    user-select: none;
    &.interactive {
        cursor: pointer;
    }
    &:hover {
        animation: rotate-text-z 0.35s ease-in-out 0s 1;
    }
}
